.rpaAutomations__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rpaAutomations__brand div { 
    flex: 1;
    /* max-width: 100px;
    min-width: 65px; */
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex;
}
.rpaAutomations__brand img {
    max-width: 60%;
    min-width: 60%;
}


.rpaAutomations__brand img {
    transition: .5s ease;
    }
    
.rpaAutomations__brand img:hover{
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737,
    5px 5px #373737,
    6px 6px #373737;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
    }

@media screen and (max-width: 650px) {
 

    .rpaAutomations__brand { 
        flex-direction: column;
    }

    .rpaAutomations__brand div { 
        margin: 0.3rem;
    }
  
    
    .rpaAutomations__brand img {
        transition: .5s ease;
        }
        
    .rpaAutomations__brand img:hover{
        box-shadow:
        1px 1px #373737,
        2px 2px #373737,
        3px 3px #373737,
        4px 4px #373737,
        5px 5px #373737,
        6px 6px #373737;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition: .5s ease;
        }
}

@media screen and (max-width: 550px) {
    .rpaAutomations__brand { 
        flex-direction: column;
    }

    .rpaAutomations__brand div { 
        margin: 0.5rem;
    }
 
    
    .rpaAutomations__brand img {
        transition: .5s ease;
        }
        
    .rpaAutomations__brand img:hover{
        box-shadow:
        1px 1px #373737,
        2px 2px #373737,
        3px 3px #373737,
        4px 4px #373737,
        5px 5px #373737,
        6px 6px #373737;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition: .5s ease;
        }
}