.rpaAutomations__whatrpaAutomations {
    display: flex;
    flex-direction: column;

    padding: 3rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rpaAutomations__whatrpaAutomations-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rpaAutomations__whatrpaAutomations-feature .rpaAutomations__features-container__feature {
    margin: 0;
}

.rpaAutomations__whatrpaAutomations-feature .rpaAutomations__features-container__feature-text {
    max-width: 700px;
}

.rpaAutomations__whatrpaAutomations-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.rpaAutomations__whatrpaAutomations-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    max-width: 510px;
}

.rpaAutomations__whatrpaAutomations-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.rpaAutomations__whatrpaAutomations-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.rpaAutomations__whatrpaAutomations-container .rpaAutomations__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.rpaAutomations__whatrpaAutomations-container .rpaAutomations__features-container__feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .rpaAutomations__whatrpaAutomations-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .rpaAutomations__whatrpaAutomations-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .rpaAutomations__whatrpaAutomations-feature .rpaAutomations__features-container__feature {
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    /* Customizing feature component as per needs */
    .rpaAutomations__whatrpaAutomations-feature .rpaAutomations__features-container__feature-text {
        margin-top: 0.5rem;
    }

    .rpaAutomations__whatrpaAutomations-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .rpaAutomations__whatrpaAutomations-container .rpaAutomations__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}