.rpaAutomations__possibility {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 5rem;
}

.rpaAutomations__possibility-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.7rem 0.7rem 0.7rem;
}

.rpaAutomations__possibility-image img {
    width: 100%;
    height: 100%;
}

.rpaAutomations__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height:380px;
}

.rpaAutomations__possibility-content__preheading {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
    margin-bottom: 1rem;
}

.rpaAutomations__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 1.5rem;
}

.rpaAutomations__possibility-content__text {
    font-family: var(--font-family);
    font-size: 30px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

.rpaAutomations__possibility-content__subtext {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    margin-bottom: 8rem;
}

@media screen and (max-width: 1188px) {
    .rpaAutomations__possibility {
        flex-direction: column;
        align-content: flex-start;
    }
 
    
    .rpaAutomations__possibility-content {
        font-size: 28px;
        line-height: 38px;
        align-items:center;
        justify-content:center;
    }
    
    .rpaAutomations__possibility-content__text {
        font-size: 14px;
        line-height: 24px;
    }
    
    .rpaAutomations__possibility-content__subtext {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 990px) {
    .rpaAutomations__possibility {
        flex-direction: column;
        align-content: flex-start;
    }

    .rpaAutomations__possibility-image {
        padding-left: 0;
    }
    
    .rpaAutomations__possibility-content h1 {
        font-size: 28px;
        line-height: 38px;
    }
    
    .rpaAutomations__possibility-content__text {
        font-size: 14px;
        line-height: 24px;
    }
    
    .rpaAutomations__possibility-content__subtext {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 853px) {
    .rpaAutomations__possibility {
        flex-direction: column;
        align-content: flex-start;
    }

    .rpaAutomations__possibility-image {
        padding-left: 0;
    }
    
    .rpaAutomations__possibility-content h1 {
        font-size: 22px;
        line-height: 32px;
    }
    
    .rpaAutomations__possibility-content__text {
        font-size: 14px;
        line-height: 22px;
    }
    
    .rpaAutomations__possibility-content__subtext {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 500px) {
    .rpaAutomations__possibility-image {
        padding: 0 1.5rem 1.5rem 0;
    }

    .rpaAutomations__possibility-content__preheading {
        font-size: 12px;
        line-height: 20px;
    }
    
    .rpaAutomations__possibility-content h1 {
        font-size: 20px;
        line-height: 26px;
    }
    
    .rpaAutomations__possibility-content__text {
        font-size: 12px;
        line-height: 20px;
    }

    .rpaAutomations__possibility-content__subtext {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 380px) {
    .rpaAutomations__possibility-image {
        padding: 0 1rem 1rem 0;
        margin-bottom: 0.5rem;
    }
}