.rpaAutomations__header { 
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.rpaAutomations__header-content { 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.rpaAutomations__header-content p { 
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.rpaAutomations__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.rpaAutomations__header-content__input { 
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.rpaAutomations__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: whithe;/* var(--color-footer); */
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rpaAutomations__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rpaAutomations__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.rpaAutomations__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.rpaAutomations__header-content__people p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 0 0 0 1rem;
    text-align: center;
}

.rpaAutomations__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rpaAutomations__header-image img {
    width: 70%;
    height: 70%;
}

.rpaAutomations__header-image img {
    transition: .5s ease;
    }
    
.rpaAutomations__header-image img:hover{
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737,
    5px 5px #373737,
    6px 6px #373737;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
    }

@media screen and (max-width: 1050px) {
    .rpaAutomations__header {
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .rpaAutomations__header-content {
        margin: 0 0 3rem;
    }
    
.rpaAutomations__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rpaAutomations__header-image img {
    width: 80%;
    height: 80%;
    border-radius: 1%;
    transform-style: preserve-3d;
}

}

@media screen and (max-width: 650px) {
    .rpaAutomations__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .rpaAutomations__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .rpaAutomations__header-content__people {
        flex-direction: column;
    }

    .rpaAutomations__header-content__people p {
        margin: 0;
    }

    .rpaAutomations__header-content__input input, .rpaAutomations__header-content__input button { 
        font-size: 16px;
        line-height: 24px;
    }
    .rpaAutomations__header-image img {
        width: 80%;
        height: 80%;
        border-radius: 5%;
        transform-style: preserve-3d;
    }
}

@media screen and (max-width: 490px) {
    .rpaAutomations__header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .rpaAutomations__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .rpaAutomations__header-content__input input, .rpaAutomations__header-content__input button { 
        font-size: 12px;
        line-height: 16px;
    }
    .rpaAutomations__header-image img {
        width: 80%;
        height: 80%;
        border-radius: 5%;
        transform-style: preserve-3d;
    }
}

@media screen and (max-width: 1259px) {
    .rpaAutomations__header { 
        flex-direction: column;
    }
    .rpaAutomations__header-image img {
        width: 80%;
        height: 80%;
        border-radius: 5%;
        transform-style: preserve-3d;
    }
}