.rpaAutomations__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whithe;/* var(--color-footer); */

}
.rpaAutomations__footer-img-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.rpaAutomations__footer-img-form img{
  width: 400px;
  height: 400px;
  margin: 0 70px;
  
}
.rpaAutomations__footer-form{
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  background:#e6e6e6;
}

.rpaAutomations__footer-form form{
/*   display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
  background: whithe;/* var(--color-bg); */
 /* box-shadow: rgba(0, 0, 0, 0.17) px -20px 19px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: var(--color-text);*/
  padding: 6rem;
  width: 100%;
  height: 100%; 
  font-family:'Montserrat',sans-serif;
  position:relative
}
.rpaAutomations__footer-form-div{
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.rpaAutomations__footer-form h2{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;color:#78788c;
  border-bottom:3px solid #78788c}

.rpaAutomations__footer-form label{
  flex: 0 0 10px;
  margin: 10px;
  border-radius: 7px;
}
.rpaAutomations__footer-form label:before{
  content:attr(type);display:block;margin:28px 0 0;
  font-size:14px;color:#5a5a5a
}
.rpaAutomations__footer-form input{
/*   border-radius: 7px;
  flex: 0 0 10px;
  margin: 10px; */
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;transition:all .3s;
  border-bottom:2px solid #bebed2
}
.rpaAutomations__footer-form input:focus{
  border-bottom:2px solid #78788c
}

.rpaAutomations__footer-form textarea{
  border-radius: 7px;

}

.rpaAutomations__footer-form-button{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
}

.rpaAutomations__footer-form-button:hover {
  background:(--color --gradient-text);
  color:black;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}


.rpaAutomations__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.rpaAutomations__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.rpaAutomations__footer-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
}

.rpaAutomations__footer-button p {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
  word-spacing: 2px;
  color: #ffffff;
}

.rpaAutomations__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}

.rpaAutomations__footer-links div {
  width: 250px;
  margin: 1rem;
}

.rpaAutomations__footer-links_logo {
  display: flex;
  flex-direction: column;
}

.rpaAutomations__footer-links_logo img {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
}

.rpaAutomations__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.rpaAutomations__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.rpaAutomations__footer-links_div h4 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.rpaAutomations__footer-links_div p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 0.5rem 0;
  cursor: pointer;
}

.rpaAutomations__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  color: #000;
}

.rpaAutomations__footer-copyright p {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 14px;
  color: #000;
}

@media screen and (max-width: 850px) {
  .rpaAutomations__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }

}

@media screen and (max-width: 550px) {
  .rpaAutomations__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .rpaAutomations__footer-links div {
    margin: 1rem 0;
  }

  .rpaAutomations__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
  .rpaAutomations__footer-img-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rpaAutomations__footer-img-form img{
    width: 100px;
    height: 100px;
    margin: 0 40px;
  }
  .rpaAutomations__footer-form form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    background: var(--color-bg);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 15px;
    color:#fff;
    padding: 6rem;
    width: 100%;
    height: 100%;
  }
  .rpaAutomations__footer-form-div{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .rpaAutomations__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
  .rpaAutomations__footer-img-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rpaAutomations__footer-img-form img{
    width: 100px;
    height: 100px;
    margin: 0 40px;
  }
  .rpaAutomations__footer-form form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    background: var(--color-bg);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 15px;
    color:#fff;
    padding: 6rem;
    width: 100%;
    height: 100%;
  }
  .rpaAutomations__footer-form-div{
    display: flex;
    flex-direction: column;
  }
}
